.form {
  width: 450px;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.group-email,
.group-password {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.label {
  font-weight: 600;
}

.input {
  width: 325px;
  height: 40px;
  padding: 10px 15px;
  font-size: 16px;
  font-weight: 500;
  outline: none;
  border: 2px solid #000;
}

.input::placeholder {
  opacity: 0.75;
}

.group-password {
  position: relative;
}

.icon {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.cta {
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.login-btn {
  width: 180px;
  height: 30px;
  margin-left: -20px;
  background: transparent;
  font-size: 16px;
  font-weight: 500;
  outline: none;
  border: 2px solid #000;
  cursor: pointer;
  box-shadow: 4px 4px 0 0 #000;
}

.sign-up {
  font-size: 14px;
}

.sign-up-btn {
  text-decoration: none;
  font-weight: 600;
  color: #000;
}
