.App {
  width: 100%;
  height: 100svh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.title {
  font-size: 40px;
  font-weight: 600;
  color: #253347;
  line-height: 110%;
  letter-spacing: -5%;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
