.upload-csv {
  display: flex;
  flex-direction: column;
  gap: 25px;
  border: 2px solid #000;
  padding: 25px;
}

.load-books-text {
  font-size: 20px;
  font-weight: 600;
}

.upload-input {
  display: none;
}

.browse-section {
  display: flex;
  align-items: center;
  gap: 10px;
}

.browse-file-text {
  font-weight: 600;
  font-size: 14px;
}

.browse-icon {
  width: 26px;
  height: 26px;
  margin-left: 20px;
  cursor: pointer;
}

.upload-btn {
  width: 180px;
  height: 35px;
  background: #fff;
  font-size: 16px;
  font-weight: 600;
  color: #253347;
  outline: none;
  border: 1px solid #253347;
  border-radius: 5px;
  box-shadow: 4px 4px 0 0 #253347;
  cursor: pointer;
}

.upload-btn:disabled {
  cursor: default;
  opacity: 0.5;
}

.upload-btn:active:not(:disabled) {
  box-shadow: none;
}

.csv-name {
  font-size: 14px;
}

.icon {
  width: 16px;
  height: 16px;
  cursor: pointer;
}